{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block title %}Socialize !{% endblock %}

{% block body %}

{% include "app/menu.html.twig" %}

<section class="app">

<h1>Socialize</h1>

<div class="welcome">
    Welcome to Socialize the best social network you have ever seen !
</div>

<!-- <div class="account">
    You need to make an account in order to use this social network.
</div>

<div class="click">
    Click in the top menu if you want to proceed.
</div> -->


<div class="lol"></div>
</section>

{% endblock %}
