<section class="reverify-success">
    <div class="reverify-success-text1">A new verify link has been sent to your email adress.</div>
    <div class="reverify-success-text1">Don't forget to check your spam folder if you don't see it in your mail box in a few minutes.</div>
</section>